$fondo: linear-gradient(0deg, hsl(196, 78%, 7%) 0%, #0D0D0D 100%);

/* Header */
$head1: azure;
$head2: #B0C6C3;

/* Cards */
$boxbackground: rgba(242, 242, 242, 0.3);
$boxshadow: 0 8px 32px 0 rgba(132, 191, 180, 0.35);
$boxglass: blur(4.0px);

/* Textos */
$primario: #58A690;
$secundario: #F2F2F2;