*{
    box-sizing: border-box; 
}

html{
    font-size: 62.5%;
}

@media (max-width: 979px){
    body {
        height: 100vh;
        font-family: Tw Cen Mt; 
        margin: 0px;    
        width: 100%;
        header {        
            background-color: #233B38;
            height: 150px;  
            width: 100%;  
            font-family: BankGothic Md BT;   
            .titulo{
                display: flex;    
                align-items: center;

                h1 {
                    color: azure;   
                    font-size: 4rem; 
                }

                #logo {
                    height: 100px;                    
                }
            }
            
            h2 {
                color: #B0C6C3;                  
                margin-left: 10rem;
                margin-top: -3rem;
            }
        }

        main {
            display: flex;
            flex-direction: column;            
            align-items: center;           
            background: rgb(110,100,50);
            background: linear-gradient(0deg, rgba(110,100,50,1) 0%, rgba(35,59,56,1) 100%);
            .titulo_pagina{
                display: flex;
                align-items: center;
                flex-direction: column;
                img {
                    height: 50px;
                    margin-top: 15px;                    
                }
                h1 {
                    font-size: 7.5vw;
                    margin-top: 10px;
                    text-align: center;
                }
            }
            div {
                display: flex;
                flex-direction: column;
                .bloque{
                    position: relative;
                    margin: 3rem;    
                    width: 30rem;
                    height: 55rem;
                    background: rgba(0, 0, 0, 0.35);
                    padding: 3rem;
                    border-radius: 2.5rem;
                    font-size: 2rem;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-content:center;
                    text-align: center;
                    border: #BAA75B solid 3px;  
                    box-shadow: 5px 10px rgba(0, 0, 0, 0.253); 
                    h3{
                        color: white;
                    }
                    form {                        
                        color: beige;                        
                        label {
                            display: block;
                            margin-top: 10px;
                            font-size: 1.6rem;
                            padding-left: 1rem;
                            padding-right: 1rem;
                        }
                        input{        
                            margin-top: 0.5rem;
                            border-top: 0px;
                            border-left: 0px;
                            border-right: 0px;
                            font-size: 14px;
                            border-radius: 1rem;
                            height: 5rem;
                            width: 80%;
                            background-color: rgba(131, 131, 131, 0.3);
                            color: beige;
                            text-align: center;
                            ::placeholder {
                                color: rgba(248, 248, 255, 1);
                                font-size: 1.5rem;
                            }
                        }
                        button{
                            margin-top: 1rem;
                            margin-bottom: 1rem;
                            border-style: none;
                            height: 5rem;
                            width: 80%;
                            background-color: #6E643B;
                            color: white;
                            font-weight: bold;                            
                            border-radius: 1rem;  
                            cursor: pointer;
                        }
                    }
                    p {
                        color: white; 
                        padding-left: 1rem;
                        padding-right: 1rem;                      
                    }
                } 
                .bloque_dsc {
                    margin-top: 0;                      
                    width: 30rem; 
                    text-align: center;  
                    margin-left: auto;   
                    margin-right: auto;  
                    margin-bottom: 10rem;        
                    h3{
                        color: white;
                        font-size: 2rem;
                        margin-top: 0%;
                        margin-bottom: 1rem;
                        text-align: center;
                    }
                    div {  
                        
                        border: #BAA75B solid 1.5px;
                        border-radius: 1.5rem; 
                        margin-top: 10px;
                        margin-bottom: 10px;
                        color:beige;
                        h4 {                            
                            text-align: center;
                            font-size: large;
                            margin-bottom: 0;
                        }
                        p {                           
                            text-align: center;
                            font-size: medium;
                            margin-top: 10px;
                        }
                    }
                }           
            }
        }

        footer {
            background-color: #6E643B;             
            width: 100vw;        
            color: beige;
            display: flex; 
            align-items: center;
            justify-content:space-evenly;
            font-size: 1.2rem;
            flex-direction: column;
            ul{
                text-align: center;
                a {
                    text-decoration: none;
                    color: beige;
                    font-weight: normal;
                    li{
                        margin-top: 0.5rem;
                        margin-bottom: 0.5rem;
                        list-style: none
                    }
                } 
                li{
                    margin-top: 0.5rem;
                    margin-bottom: 0.5rem;
                    list-style: none
                }           
            }
        }
    }
}

@media (min-width: 980px){
    body {
        height: 100vh;
        font-family: Tw Cen Mt; 
        margin: 0px;    
        width: 100%;
        header {        
            background-color: #233B38;
            height: 100px;    
            font-family: BankGothic Md BT;
            display: flex; 
            align-items: center;
            justify-content: space-between;

            .titulo{
                display: flex;    
                align-items: center;

                h1 {
                    color: azure;   
                    font-size: 4rem; 
                }

                #logo {
                    height: 100px;
                }
            }
            
            h2 {
                color: #B0C6C3;  
                margin-right: 3rem; 
            }
        }

        main {
            display: flex;
            flex-direction: column;            
            align-items: center;           
            background: rgb(110,100,50);
            background: linear-gradient(0deg, rgba(110,100,50,1) 0%, rgba(35,59,56,1) 100%);
            .titulo_pagina{
                display: flex;
                align-items: center;
                img {
                    height: 50px;
                    margin: 15px;
                }
                h1 {
                    font-size: 50px;
                }
            }
            div {
                display: flex;      
                             
                .bloque{
                    position: relative;
                    margin: 3rem;    
                    width: 30rem;
                    height: 55rem;
                    background: rgba(0, 0, 0, 0.35);
                    padding: 3rem;
                    border-radius: 2.5rem;
                    font-size: 2rem;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-content:center;
                    text-align: center;
                    border: #BAA75B solid 3px;  
                    box-shadow: 5px 10px rgba(0, 0, 0, 0.253); 
                    h3{
                        color: white;
                    }
                    form {                        
                        color: beige;                        
                        label {
                            display: block;
                            margin-top: 10px;
                            font-size: 1.6rem;
                            padding-left: 1rem;
                            padding-right: 1rem;
                        }
                        input{        
                            margin-top: 0.5rem;
                            border-top: 0px;
                            border-left: 0px;
                            border-right: 0px;
                            font-size: 14px;
                            border-radius: 1rem;
                            height: 5rem;
                            width: 80%;
                            background-color: rgba(131, 131, 131, 0.3);
                            color: beige;
                            text-align: center;
                            ::placeholder {
                                color: rgba(248, 248, 255, 1);
                                font-size: 1.5rem;
                            }
                        }
                        button{
                            margin-top: 1rem;
                            margin-bottom: 1rem;
                            border-style: none;
                            height: 5rem;
                            width: 80%;
                            background-color: #6E643B;
                            color: white;
                            font-weight: bold;                            
                            border-radius: 1rem;  
                            cursor: pointer;
                        }
                    }
                    p {
                        color: white; 
                        padding-left: 1rem;
                        padding-right: 1rem;                      
                    }
                } 
                .bloque_dsc {
                    margin-top: 2rem; 
                    
                    h3{
                        color: white;
                        font-size: 2rem;
                    }
                    div {
                        display: block;
                        border: #BAA75B solid 1.5px;
                        border-radius: 1.5rem; 
                        margin-top: 10px;
                        margin-bottom: 10px;
                        color:beige;
                        h4 {                            
                            text-align: center;
                            font-size: large;
                            margin-bottom: 0;
                        }
                        p {                           
                            text-align: center;
                            font-size: medium;
                            margin-top: 10px;
                        }
                    }
                }           
            }
        }

        footer {
            background-color: #6E643B;
            height: 100px;  
            width: 100%;        
            color: beige;
            display: flex; 
            align-items: center;
            justify-content:space-evenly;
            font-size: 1.2rem;

            ul{
                text-align: center;
                a {
                    text-decoration: none;
                    color: beige;
                    font-weight: normal;
                    li{
                        margin-top: 0.5rem;
                        margin-bottom: 0.5rem;
                        list-style: none
                    }
                } 
                li{
                    margin-top: 0.5rem;
                    margin-bottom: 0.5rem;
                    list-style: none
                }           
            }
        }
    }
}